:root{
    --bg-color: rgb(241, 246, 247);
    --text-color: rgb(43, 38, 38);
    --main-color: rgb(61, 188, 231);
    --secondary-color: rgba(121, 192, 222, 0.844);
}

.darkmode{
    --bg-color: rgb(4, 4, 4);
    --text-color: rgb(149, 198, 241);
    --main-color: rgb(61, 188, 231);
    --secondary-color: rgba(121, 192, 222, 0.844);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

img{
    display: block;
    width: 100%;
    height:auto;
}

a{
    color: var(--text-color);
}

p{
    color: var(--text-color);
}