:root{
    --bg-color: rgb(241, 246, 247);
    --text-color: rgb(43, 38, 38);
    --main-color: rgb(61, 188, 231);
    --secondary-color: rgba(121, 192, 222, 0.844);
    --bg-inverse: rgb(4, 4, 4);;
}

.darkmode{
    --bg-color: rgb(4, 4, 4);
    --text-color: rgb(149, 198, 241);
    --main-color: rgb(61, 188, 231);
    --secondary-color: rgba(121, 192, 222, 0.844);
    --bg-inverse: rgb(241, 246, 247);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

img{
    display: block;
    width: 100%;
    height:auto;
}

a{
    color: rgba(6, 182, 6, 0.986);
}
a:hover{
    color: gray;
    font-weight: 700;
    text-decoration: 3px underline wavy var(--main-color);
}

p{
    color: var(--text-color);
}