#about{
    padding-block: 2rem;
    display: flex;
    gap: 3rem;
    max-height: 400px;
    /* box-shadow: 0 0  20px rgba(0, 0, 0, 0.207); */
}

#about h1{
    color: var(--main-color);
    margin-bottom: 1rem;
    font-weight: 700;
}

#about p{
    line-height: 1.5;
    font-weight: 500;
    
}

.addPic{
    display: none;
}

@media (width < 500px) {
    #about{
        padding-block: 0;
    }
}

@media (width >= 1024px){
    .addPic{
        display: flex;
    }
}